*{
    margin: 0;
    padding: 0;
}
.NAVBAR > button{
    color: white;
    background-color: black;
    border-width: 0;
    height: 40px;
    width: 125px;
}
.NAVBAR > button:hover{
    color: black;
    background-color: grey;
}